/*
@import "/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css";
@import "../../node_modules/fullpage.js/dist/jquery.fullpage.min.css";
@import "../../node_modules/bxslider/dist/jquery.bxslider.css";
@import "../../node_modules/nouislider/distribute/nouislider.css";
// @import "../../../sprite/css/sprite.css";

@font-face{
    font-family:Proxima Nova;
    src:url("/webfonts/proximanova-reg-webfont.eot");
    src:url("/webfonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"),
    url("/webfonts/proximanova-reg-webfont.ttf") format("truetype"),
    url("/webfonts/proximanova-reg-webfont.otf") format("otf"),
    url("/webfonts/proximanova-reg-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    }
@font-face{
    font-family:Proxima Nova;
    src:url("/webfonts/proximanova-bold-webfont.eot");
    src:url("/webfonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/webfonts/proximanova-bold-webfont.ttf") format("truetype"),
    url("/webfonts/proximanova-bold-webfont.otf") format("otf"),
    url("/webfonts/proximanova-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    }
@font-face{
    font-family:Rouble;
    src:url("/webfonts/rouble.eot");
    src:url("/webfonts/rouble.eot?#iefix") format("embedded-opentype"),
    url("/webfonts/rouble.ttf") format("truetype"),
    url("/webfonts/rouble.otf") format("otf"),
    url("/webfonts/rouble.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
*/

// @import "compass";
@import "bootstrap";

@import "typography";

@import "blocks";

@import "elements";

@import "mediaqueries";

@import "animates";
